.dateContainer {
    width: 400px;
    height: 50px;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6b6b6b;
    background-color: #f3f3f3;
    transition: all .2s ease-in-out;
      
    &:hover {
        background-color: #dddddd;
    }

    &.selected {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        color: white;
    }

    .dateText {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        margin-left: 30px;

        svg {
            width: 25px;
            height: 25px;
        }

        p {
            cursor: default;
        }
    }

    .datepicker {
        font-size: 16px;
        cursor: pointer;
        caret-color: transparent;
        text-align: right;
        border: none;
        background-color: none;
        border-radius: 15px;
        right: 0;
        padding: 15px 30px 15px 25px;
        color: #6b6b6b;
        background-color: transparent;
        
        &:focus {
            outline: none;
        }
    
        &.selectedText {
            color: white;
        }

        &::placeholder {
            color: #6b6b6b;

        }
    }
}



