.wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 100%;
}

.infoContainer {
    display: flex;
}

.titleContainer {

    .title {
        font-size: 20pt;
        font-weight: bold;
    }

}

.content {
    width: 100%;
    min-height: 30vh;
}




// 포스팅 작성이 되어있지 않을 때

.wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    height: 100%;
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
        width: 100%;
        height: 50px;
        border: 1px solid lightgray;
        border-radius: 15px;
        padding-inline: 20px;
        outline: none;
    }

    input:focus,
    textarea:focus {
        border: 2px solid var(--primary-color);
    }

    textarea {
        width: 100%;
        height: 40vh;
        border: 1px solid lightgray;
        border-radius: 15px;
        padding: 20px;
        outline: none;
    }


}

.buttonContainer {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}